.container {
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
}

h1 {
  font-weight: normal;
  padding-top: 1em;
}
  

.navigation ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
  padding-bottom: 2em;
}

.navigation li {
  display: inline;
}

.navigation a {
    color: #3366FF;
    text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 700px;
}